name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        destination: ['platform=iOS Simulator,OS=14.5,name=iPhone 12 Pro Max']
        scheme: ['SiriKitExample']
          
    steps:
    - uses: actions/checkout@v2
    - name: Set XCode Version
      run: sudo xcode-select -s /Applications/Xcode_12.5.app
    - name: Build
      run: xcodebuild clean build -scheme "${{ matrix.scheme }}" -destination "${{ matrix.destination }}"
